header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(60, 61, 122);
}
body{
    margin: 0;
}

.header-top{
    display: flex;
    justify-content: space-between;
}
.header-logo img{
    width: 100px;
    height: auto;
    border-radius: 50%;
    
}
a{
    text-decoration: none;
    color: aliceblue;
}
ul{
    list-style: none;
    display: flex;
    justify-content: end;
    gap: 16px;
    padding-right: 32px;
}
.header-content{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin: 0 auto;
    
}

.content-title{
    max-width: 300px;
    font-size: 48px;
    font-weight: 900;
    padding: 16px;
    
}

.content{
    max-width: 300px;
    padding: 16px;
}

.header-content-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
    max-width: 800px;
    margin: 0 auto;
}

.header-content button{
    font-size: 16px;
    align-self: flex-start;
    margin: 8px 16px;
}

.content-img img{
    max-width: 300px;
    height: auto;
}
